body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    border-radius: 50%;
    width: 20%;
    Height: auto;
    border: 2px solid rgb(88, 228, 69);

}

#welcome {

    position: relative;
    color: #FFFFFF;
    top:0%;
    left:0%;
    background-image: linear-gradient(45deg,rgb(26, 206, 131) 0% rgb(42, 212, 212) 25% rgb(41, 44, 223)75% rgb(211, 53, 145) 100%);
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}



h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;

}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;

    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    font-size: 17px;
}

.parallax-inner {

    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
.puppy{
width: 20%;
height: 300px;
text-align: center;
}



.my_nav_bar {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    
}


html {
    scroll-behavior: smooth;
}

#contact
{
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

#contact iframe
{
    width: 100%;
    height: 200px;
}

.contact_1 h3
{
    display: inline;
    font-size: 14px;
    margin-right: 100px;
    
    
}
.contact_1 a
{
    color: white;
    text-shadow: none;
}

